*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgba(86, 141, 229, 1.00);
    cursor: pointer;
}

.centro{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.barra_pesquisa{
    width: 421px;
    height: 42px;
    margin-right: 40px;
    border: transparent;
    border-radius: 50px;
    font-size: 17px;
    margin-left: 130px;
    margin-bottom: 50px;
    margin-top: 57px;
    z-index: 3;
    margin-right: 50px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 60px;
}

.foto_pesquisa{
    padding-top: 300px;
}

.barra_invisivel{
    background-color: white;
    width: 571px;
    height: 44px;
    background-image: url(../img/googlemic_clr_24px.svg), url(../img/lens_icon.svg), url(../img/icon_search.svg);
    background-size: 29px 27px;
    background-repeat: no-repeat;
    background-position: 99%, 92% , 2%;
    position: absolute;
    margin-left: 84px;
    margin-top: 10px;
    z-index: -1;
    border: transparent;
    border-radius: 50px;
    pointer-events: none;
    user-select: none;
}